
.weight-frame {
    font-size: 12pt;
    background-color: white;
    position: absolute;
    padding: 0.8em;
    width: 90vw;
    margin: auto;
    border: 1px solid black;
    

}

.weight-frame .inner-frame{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.weight-table {
    border:double darkred 2px;
    margin:1em;
    width: 90%;
}

.weight-table th{
    border: solid 1px gray;
}

.weight-table td {
    width: fit-content;
}


.weight-pos-cell {
    border: solid 1px gray;
    width: 95%;
    min-width: 2em;
    height: 100%;
    text-align: center;
    margin: 0;
    height: 2em;
    cursor: pointer;
}


.moments-table {
    border:double darkred 2px;
    margin:1em;
    width: auto;
    max-width: 20em;;
}


.moments-table th{
    border: solid 1px gray;
    width: fit-content;
    text-align: center;
}

.moments-table td {
    border: solid 1px gray;
    text-align: center;
    width: 6em;
}
.moments-table tbody tr td:first-child{
    width: 1em;
}
.moments-table thead tr th:first-child{
    width: 1em;
}

@media only screen and (max-width : 780px) {
    .weight-frame * {
        font-size: 10pt;
    }
}
