input {
    font-size: large;
}


button {
    margin: 1em;
    min-width: 4em;
    min-height: 2em;
    width: fit-content;
    cursor:pointer;
    font-size: x-large;
}

.closable {
    position: absolute;
    top: 0.2vh;
    transition: all ease-in-out 0.5s;
    z-index: 2;
    padding: 0;
    min-height: 80vh;

}

.main-frame {
    width: 98vw;
    height:100vH;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
